
// Mini Editor
// -------------------

// Mini Editors are the "text inputs" used in find+replace or in the settings.


atom-text-editor[mini] {
  padding-left: @component-padding/2;
  color: @text-color;
  border-radius: @component-border-radius;
  background-color: @input-background-color;


  &.is-focused {
    background-color: darken(@input-background-color, 5%);
  }

  .placeholder-text {
    color: @text-color-subtle;
  }
  .selection .region {
    background-color: @background-color-selected;
  }
  .vertical-scrollbar{
      background: #f00;
      color: #f00;
  }
}
/* Track */
::-webkit-scrollbar-track {
    background: #ff0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.bottom{
  atom-text-editor{
    .scroll-view{
        .line{
            .syntax--text{
                color: #000;
            }
        }
    }
  }
}
.right{
  .github-StagingView-group.is-focused .is-selected{
    background: @ds-dark-blue;
  }
  .github-StagingView{
    .github-StagedChanges,
    .github-UnstagedChanges{
      background-color: @black;
      border-top: 1px solid @ds-blue;
    }
  }
  .github-CommitView, .github-RecentCommits{
    background-color: @black;
    border-top: 1px solid @ds-blue;
  }
  atom-text-editor{
    background-color: #fff;
    .scroll-view{
        .line{
            .syntax--text{
                color: @black;
            }
        }
    }
  }
}
.atom-dock-resize-handle.atom-dock-resize-handle-resizable.left,
.atom-dock-resize-handle.atom-dock-resize-handle-resizable.right{
    background-color: @ds-blue;
}
.atom-dock-toggle-button .atom-dock-toggle-button-inner{
  background-color: @ds-dark-blue;
}
atom-pane-container atom-pane .item-views .pane-item{
  background-color: @black;
}
.settings-view .package-card{
  background-color: @ds-dark-blue;
}
.settings-view .package-card:hover{
  background-color: darken(@ds-dark-blue, 10%);
}
.settings-view .config-menu{
  background-color: @black;
}
.settings-view .config-menu .nav > li > a{
  color: #fff;
}
.settings-view .config-menu .nav > li > a:hover,
.settings-view .config-menu .nav > li.active > a{
  background-color: @ds-blue;
  color: #fff;
}
.settings-view .setting-description,
.settings-view select.form-control{
  color: #fff;
}
atom-text-editor .gutter .line-number{
  color: @ds-dark-blue;
}
atom-text-editor .gutter .line-number.cursor-line{
  color: @ds-blue-bright;
}
.left atom-pane-container .tab .title{
    display: none;
}
.left atom-pane-container .tab.active{
    background-color: transparent;
    border-right: none;
}
atom-dock.left atom-pane-container .tab-bar{
    background: url(https://i.ibb.co/MfPmmc6/df-logo-light.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 4px 11px;
}
.right atom-pane-container .github-Git-root .github-Git, .right atom-pane-container .github-GitHub-root{
    background-color: @black;
}
.right .github-GithubLoginView input[type=text]{
    color: @black;
}
.right atom-pane-container .github-Git.no-repository .git-logo-path{
    fill: @ds-blue-bright;
}
